*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1919;
}
.bhanu{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
button{
    background-color: #4b97ef;
    border: none;
    height: 4%;
    width: 10%;
    margin: 5px;
    border-radius: 3px;
    font-size: larger;
    cursor: pointer;
}
p{
    color: #fff;
    font-size: xx-large;
}

